.title {
	margin-top: 0;
	color: #5C5C5C;
	font-size: 16pt;
	font-weight: bold;
}

.subtitle,
.time {
	font-size: 13pt;
}

.subtitle {
	color: #878787;
	font-weight: 600;
}

.time {
	color: #a4a4a4;
	font-weight: normal;
}

.separator {
	margin-top: 16px;
	height: 1px;
	width: 100%;
	background-color: #E9E9E9;
}