<ion-menu side="start" type="overlay" contentId="content1" #sideMenu>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="sideMenu.close()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateToWalkthrough(2)">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>
          Criar uma conta
        </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/walkthrough/signIn']" (click)="sideMenu.close()">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>
          Iniciar sessão
        </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/tabs/settings']" (click)="sideMenu.close()">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>
          Configurações
        </ion-label>
      </ion-item>
      <ion-item (click)="signOut()">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>
          Finalizar sessão
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>Editoriais</ion-label>
      </ion-list-header>
      <ion-item (click)="navigateToEditorial('claudio')">
        <ion-label>
          Cláudio Humberto
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateToEditorial('politica')">
        <ion-label>
          Política
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateToEditorial('justica')">
        <ion-label>
          Justiça
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateToEditorial('brasil')">
        <ion-label>
          Brasil e Regiões
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateToEditorial('exteriores')">
        <ion-label>
          Exteriores
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateToEditorial('dinheiro')">
        <ion-label>
          Dinheiro
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateToEditorial('opiniao')">
        <ion-label>
          Opinião
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateToEditorial('especiais')">
        <ion-label>
          Especiais
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateToEditorial('mulheres')">
        <ion-label>
          Mulheres no Poder
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Outros Editoriais
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>