.logo {
	max-height: 32px;
}

ion-segment {
	margin: 8pt auto;
}

ion-segment-button {
	--border-style: none;
	--background-activated: #FFFFFF;
	--background-checked: #FFFFFF;
	--color: #c7c7c7;
	--color-checked: #3c3c3c;
	margin: 0 1em;
	min-height: 20pt;
	max-width: none !important;
	font-size: 15px !important;
	letter-spacing: 0.5px;
}

.segment-button-checked {
	font-weight: bold;
	border-bottom: 2px solid;
	border-radius: 0;
}