<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img [src]="'assets/images/logo-red.png'"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment scrollable (ionChange)="onSegmentChange($event)" id="headerSegment">
      <ion-segment-button value="0" id="headerSegmentButton0" checked>
        <ion-label>Últimas Notícias</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1" id="headerSegmentButton1">
        <ion-label>Cláudio Humberto</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" id="headerSegmentButton2">
        <ion-label>Vídeos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3" id="headerSegmentButton3">
        <ion-label>Minhas Notícias</ion-label>
      </ion-segment-button>
      <ion-segment-button value="4" id="headerSegmentButton4">
        <ion-label>Mais Lidas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="5" id="headerSegmentButton5">
        <ion-label>Compartilhe</ion-label>
      </ion-segment-button>
      <ion-segment-button value="6" id="headerSegmentButton6">
        <ion-label>Humor</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>