<ion-header>
  <ion-toolbar>
    <ion-title>
      Política de Privacidade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Quem somos</h2>
  <p class="privacy-policy-tutorial">Nesta seção você deve explicitar o URL do seu site, assim como o nome da empresa,
    organização ou indivíduo responsável, e também informações de contato detalhadas.</p>
  <p class="privacy-policy-tutorial">O volume de informações que você pode ser obrigado a fornecer varia de acordo com
    sua localização ou regras comerciais específicas. Você pode, por exemplo, ser obrigado a fornecer um endereço
    físico, um endereço comercial ou o número de cadastro da sua empresa.</p>
  <p><strong class="privacy-policy-tutorial">Texto sugerido:&nbsp;</strong>O endereço do nosso site é:
    https://diariodopoder.com.br.</p>
  <h2>Quais dados pessoais coletamos e porque</h2>
  <p class="privacy-policy-tutorial">Nesta seção você deve descrever quais dados pessoais são coletados de usuários e
    visitantes em seu site. Isso pode incluir dados pessoais, como nome, endereço de e-mail, preferencias pessoais e
    dados de transações, tais como informações de compras, também dados técnicos, como informações sobre cookies.</p>
  <p class="privacy-policy-tutorial">Você também deve justificar qualquer coleta e retenção de dados pessoais sensíveis,
    como dados referentes a saúde.</p>
  <p class="privacy-policy-tutorial">Além de listar quais dados pessoais você coleta, você deve explicar por que os
    coleta. Essas explicações devem justificar as bases legais para a coleta e retenção dos dados ou o consentimento
    expresso fornecido pelo usuário.</p>
  <p class="privacy-policy-tutorial">Dados pessoais não são criados apenas pela interação do usuário com o seu site.
    Eles também são gerados por processos técnicos, como formulários de contato, cookies, dados para análises e mídias
    de terceiros incorporadas.</p>
  <p class="privacy-policy-tutorial">Por padrão o WordPress não coleta dados pessoais sobre visitantes, e apenas coleta
    os dados mostrados na tela de perfil dos usuários cadastrados. Porém, se algum dos seus plugins também coletar dados
    pessoais, adicione essa informação abaixo.</p>
  <h3>Comentários</h3>
  <p class="privacy-policy-tutorial">Nesta subseção você deve descrever quais informações são coletadas dos comentários.
    Nós já descrevemos quais dados o WordPress coleta por padrão.</p>
  <p><strong class="privacy-policy-tutorial">Texto sugerido:&nbsp;</strong>Quando os visitantes deixam comentários no
    site, coletamos os dados mostrados no formulário de comentários, além do endereço de IP e de dados do navegador do
    visitante, para auxiliar na detecção de spam.</p>
  <p>Uma sequência anonimizada de caracteres criada a partir do seu e-mail (também chamada de hash) poderá ser enviada
    para o Gravatar para verificar se você usa o serviço. A política de privacidade do Gravatar está disponível aqui:
    https://automattic.com/privacy/. Depois da aprovação do seu comentário, a foto do seu perfil fica visível
    publicamente junto de seu comentário.</p>
  <h3>Mídia</h3>
  <p class="privacy-policy-tutorial">Nesta subseção você deve descrever que informações podem ser divulgadas quando um
    usuário envia arquivos de mídia. Todos os arquivos de mídia enviados geralmente são públicos.</p>
  <p><strong class="privacy-policy-tutorial">Texto sugerido:&nbsp;</strong>Se você envia imagens para o site, evite
    enviar as que contenham dados de localização incorporados (EXIF GPS). Visitantes podem baixar estas imagens do site
    e extrair delas seus dados de localização.</p>
  <h3>Formulários de contato</h3>
  <p class="privacy-policy-tutorial">Por padrão, o WordPress não inclui um formulário de contato. Se você usa um plugin
    de formulários de contato, use essa subseção para explicar quais são os dados pessoais coletados quando alguém envia
    informações por um formulário de contato e por quanto tempo você mantém essas informações. Por exemplo, você pode
    informar que mantém os dados enviados pelo formulário por algum tempo visando o atendimento ao consumidor, mas que
    não usa essas informações para fins de marketing.</p>
  <h3>Cookies</h3>
  <p class="privacy-policy-tutorial">Nesta subseção você deve listar os cookies que seu site utiliza, inclusive aqueles
    gerados por plugins, mídias sociais e para análises. Já incluímos os cookies que o WordPress cria por padrão.</p>
  <p><strong class="privacy-policy-tutorial">Texto sugerido:&nbsp;</strong>Ao deixar um comentário no site, você poderá
    optar por salvar seu nome, e-mail e site nos cookies. Isso visa seu conforto, assim você não precisará preencher
    seus dados novamente quando fizer outro comentário. Estes cookies duram um ano.</p>
  <p>Se você tem uma conta e acessa este site, um cookie temporário será criado para determinar se seu navegador aceita
    cookies. Ele não contém nenhum dado pessoal e será descartado quando você fechar seu navegador.</p>
  <p>Quando você acessa sua conta no site, também criamos vários cookies para salvar os dados da sua conta e suas
    escolhas de exibição de tela. Cookies de login são mantidos por dois dias e cookies de opções de tela por um ano. Se
    você selecionar “Lembrar-me”, seu acesso será mantido por duas semanas. Se você se desconectar da sua conta, os
    cookies de login serão removidos.</p>
  <p>Se você editar ou publicar um artigo, um cookie adicional será salvo no seu navegador. Este cookie não inclui
    nenhum dado pessoal e simplesmente indica o ID do post referente ao artigo que você acabou de editar. Ele expira
    depois de 1 dia.</p>
  <h3>Mídia incorporada de outros sites</h3>
  <p><strong class="privacy-policy-tutorial">Texto sugerido:&nbsp;</strong>Artigos neste site podem incluir conteúdo
    incorporado como, por exemplo, vídeos, imagens, artigos, etc. Conteúdos incorporados de outros sites se comportam
    exatamente da mesma forma como se o visitante estivesse visitando o outro site.</p>
  <p>Estes sites podem coletar dados sobre você, usar cookies, incorporar rastreamento adicional de terceiros e
    monitorar sua interação com este conteúdo incorporado, incluindo sua interação com o conteúdo incorporado se você
    tem uma conta e está conectado com o site.</p>
  <h3>Análises</h3>
  <p class="privacy-policy-tutorial">Nesta subseção você deve descrever qual o serviço de analises que o seu site
    utiliza, como os usuários podem optar por não serem rastreados, e um link para a página de política de privacidade
    do seu provedor de analises, se houver.</p>
  <p class="privacy-policy-tutorial">Por padrão, o WordPress não coleta nenhum dado para análise. Entretanto, muitos
    serviços de hospedagem coletam alguns dados anônimos para análise. Você também pode ter instalado um plugin do
    WordPress que fornece serviços de análise. Neste caso, adicione as informações do plugin aqui.</p>
  <h2>Com quem partilhamos seus dados</h2>
  <p class="privacy-policy-tutorial">Nesta seção você deve listar todos os provedores terceirizados com quem você
    compartilha dados do site, incluindo parceiros, serviços baseados na nuvem, processadores de pagamento e provedores
    de serviços terceirizados, além de explicar quais dados você compartilha com eles e por que. Aponte para suas
    próprias políticas de privacidade se possível.</p>
  <p class="privacy-policy-tutorial">Por padrão, o WordPress não compartilha quaisquer dados pessoais.</p>
  <h2>Por quanto tempo mantemos os seus dados</h2>
  <p class="privacy-policy-tutorial">Nesta seção você deve explicar por quanto tempo ficam armazenados os dados pessoais
    coletados ou processados pelo site. Como é sua responsabilidade divulgar por que e por quanto tempo cada conjunto de
    dados é armazenado, esta informação precisa ser listada aqui. Por exemplo, você pode querer dizer que mantém os
    dados enviados pelo formulário de contato por seis meses, registros para análises por um ano e registros de compras
    dos consumidores por dez anos.</p>
  <p><strong class="privacy-policy-tutorial">Texto sugerido:&nbsp;</strong>Se você deixar um comentário, o comentário e
    os seus metadados são conservados indefinidamente. Fazemos isso para que seja possível reconhecer e aprovar
    automaticamente qualquer comentário posterior ao invés de retê-lo para moderação.</p>
  <p>Para usuários que se registram no nosso site (se houver), também guardamos as informações pessoais que fornecem no
    seu perfil de usuário. Todos os usuários podem ver, editar ou excluir suas informações pessoais a qualquer momento
    (só não é possível alterar o seu username). Os administradores de sites também podem ver e editar estas informações.
  </p>
  <h2>Quais os seus direitos sobre seus dados</h2>
  <p class="privacy-policy-tutorial">Nesta seção você deve explicar quais direitos os seus usuários têm sobre os seus
    dados e como podem requerer estes direitos.</p>
  <p><strong class="privacy-policy-tutorial">Texto sugerido:&nbsp;</strong>Se você tiver uma conta neste site ou se
    tiver deixado comentários, pode solicitar um arquivo exportado dos dados pessoais que mantemos sobre você, inclusive
    quaisquer dados que nos tenha fornecido. Também pode solicitar que removamos qualquer dado pessoal que mantemos
    sobre você. Isto não inclui nenhuns dados que somos obrigados a manter para propósitos administrativos, legais ou de
    segurança.</p>
  <h2>Para onde enviamos seus dados</h2>
  <p class="privacy-policy-tutorial">Nesta seção você deve listar todas as transferências dos dados do seu site para
    fora da União Europeia e descrever os meios pelos quais estes dados são protegidos segundo os padrões de proteção de
    dados europeus. Isto pode incluir a sua hospedagem de sites, armazenamento de nuvem ou outros serviços de terceiros.
  </p>
  <p class="privacy-policy-tutorial">A lei de proteção de dados europeia exige que os dados de residentes europeus que
    sejam transferidos para fora da União Europeia tenham o mesmo nível de proteção como se os dados estivessem na
    Europa. Assim, além de listar para onde os dados vão, é preciso descrever como você garante que estes padrões
    estejam sendo seguidos, opr você ou pelos seus provedores terceiros, seja por meio de um acordo como o Escudo de
    Privacidade, cláusulas modelo nos seus contratos ou normas corporativas vinculatórias.</p>
  <p><strong class="privacy-policy-tutorial">Texto sugerido:&nbsp;</strong>Comentários de visitantes podem ser marcados
    por um serviço automático de detecção de spam.</p>
  <h2>Suas informações de contato</h2>
  <p class="privacy-policy-tutorial">Nesta seção, você deve fornecer um meio de contato para questões específicas sobre
    privacidade. Se você é obrigado a ter um profissional responsável pela proteção de dados, liste seu nome e detalhes
    completos de contato aqui também.</p>
  <h2>Informações adicionais</h2>
  <p class="privacy-policy-tutorial">Caso o seu site tem fins comerciais e atua em processos mais complexos de coleta ou
    processamento de dados pessoais, você deve também salientar essa informação em sua política de privacidade,
    juntamente com toda a informação já discutida.</p>
  <h3>Como protegemos seus dados</h3>
  <p class="privacy-policy-tutorial">Nesta seção você deve explicar quais medidas foram tomadas para proteger os dados
    de seus usuários. Isso pode incluir medidas técnicas como encriptação; medidas de segurança como autenticação em
    dois passos; e medidas como treinamento de pessoal em proteção de dados. Se você tiver feito uma Avaliação do
    impacto de privacidade, pode mencioná-la aqui também.</p>
  <h3>Quais são nossos procedimentos contra violação de dados</h3>
  <p class="privacy-policy-tutorial">Nesta seção você deve explicar que procedimentos são usados para lidar com
    violações de dados, potenciais ou verdadeiras, como sistemas de informação internos, mecanismos de contato ou
    caçadas de erros.</p>
  <h3>De quais terceiros nós recebemos dados</h3>
  <p class="privacy-policy-tutorial">Caso o seu site receba dados de terceiros sobre usuários, incluindo anunciantes,
    esta informação deve ser incluída dentro da seção da sua política de privacidade que trata de dados de terceiros.
  </p>
  <h3>Quais tomadas de decisão ou análises de perfil automatizadas fazemos com os dados de usuários</h3>
  <p class="privacy-policy-tutorial">Se o seu site oferecer um serviço que inclua tomada de decisão automatizada, por
    exemplo, permitir a clientes solicitar crédito ou agregar seus dados em um perfil publicitário, você deve observar
    que isto está acontecendo, e incluir informações sobre como aquela informação é usada, que decisões são tomadas com
    os dados agregados e o que direitos os usuários têm sobre as decisões tomadas sem intervenção humana.</p>
  <h3>Requisitos obrigatórios de divulgação para sua categoria profissional</h3>
  <p class="privacy-policy-tutorial">Se você é um membro de uma indústria regulamentada, ou se você está sujeito a leis
    de privacidade adicionais, você pode ser obrigado a divulgar essas informações aqui.</p>
</ion-content>