<ion-tabs (ionTabsWillChange)="ionTabsWillChange($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [src]="icons.home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="bookmark">
      <ion-icon [src]="icons.bookmark"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon [src]="icons.search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon src="/assets/icon/user-off.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>