<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<div class="page-bg">
  <div class="logo-white"></div>
  <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="form">
    <p class="subtitle">Entre com suas informações abaixo para continuar.</p>

    <ion-item class="item-transparent">
      <ion-label position="floating">Email*</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required">
        Email é obrigatório.
      </div>
      <div *ngIf="email.errors.email">
        Formato inválido.
      </div>
    </div>

    <ion-item class="item-transparent">
      <ion-label position="floating">Senha*</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        Senha é obrigatória.
      </div>
      <div *ngIf="password.errors.minlength">
        Deve ter ao menos 3 caracteres.
      </div>
    </div>

    <ion-button class="button-submit" color="primary" type="submit" [disabled]="signInForm.invalid">Entrar
    </ion-button>
  </form>
  <p class="register-later">Ainda não tem conta? <a [routerLink]="['/walkthrough/signUp']">Cadastrar</a></p>
</div>