<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{editorial.title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, posts$, {categories: editorial.categories})">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-news *ngFor="let post of posts$ | async" [post]="post"></app-news>
  <ion-infinite-scroll threshold="100px"
    (ionInfinite)="loadOlderPosts($event, posts$, {categories: editorial.categories})">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais notícias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>