ion-slide {
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	text-align: justify;
}

ion-slides {
	height: 100vh;
	width: 100vw;
}

ion-img {
	max-width: 50vw;
	max-height: 50vh;
	overflow: hidden;
}

p,
h1 {
	padding: 1em;
}

.notification-range {
	width: 100%;
}