<ion-content>
  <ion-slides pager="true" #slides>

    <ion-slide>
      <div class="logo-white"></div>
      <div>
        <h1 class="headline">Poder, política e bastidores</h1>
        <p class="subtitle">Mantenha-se informado sobre as principais notícias políticas.</p>
      </div>
      <ion-button color="light" fill="outline" (click)="slides.slideNext()" class="button-next">Continuar
        <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
      </ion-button>

    </ion-slide>

    <ion-slide>
      <div class="logo-white"></div>
      <div>
        <h1 class="headline">Notificações</h1>
        <p class="subtitle">Com as notificações ativadas você sempre estará atualizado com as principais notícias.</p>
      </div>
      <ion-button color="light" fill="outline" (click)="slides.slideNext()" class="button-next">Habilitar depois
      </ion-button>
    </ion-slide>

    <ion-slide>
      <ion-content padding>
        <h1>Cadastre-se</h1>
        <p>Fique por dentro da verdade sobre a política, com mais informação e conteúdo.</p>
        <ion-button>Facebook</ion-button>
        <ion-button (click)="auth.googleLogin()">Google</ion-button>
        <ion-button [routerLink]="['/walkthrough/signUp']">Endereço de email</ion-button>
        <ion-button (click)="finish()" routerDirection="root">Talvez depois. Acessar agora.</ion-button>
      </ion-content>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <ion-buttons slot="start">
      <ion-button (click)="finish()" routerDirection="root">Pular</ion-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/walkthrough/signIn']">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>