<ion-content>
  <ion-slides pager="true" class="walkthrough-slides" #slides>

    <ion-slide class="walkthrough-slide">
      <div class="logo-white"></div>
      <div>
        <h1 class="headline">Poder, política e bastidores</h1>
        <p class="subtitle">Mantenha-se informado sobre as principais notícias políticas.</p>
      </div>
      <ion-button color="light" fill="outline" (click)="slides.slideNext()" class="button-next">Continuar
        <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
      </ion-button>

    </ion-slide>

    <ion-slide class="walkthrough-slide">
      <div class="logo-white"></div>
      <div>
        <h1 class="headline">Notificações</h1>
        <p class="subtitle">Com as notificações ativadas você sempre estará atualizado com as principais notícias.</p>
      </div>
      <ion-button color="light" fill="outline" (click)="slides.slideNext()" class="button-next">Habilitar depois
      </ion-button>
    </ion-slide>

    <ion-slide class="walkthrough-slide">
      <div class="logo-white"></div>
      <div>
        <h1 class="headline">Cadastre-se</h1>
        <p class="subtitle">Fique por dentro da verdade sobre a política, com mais informação e conteúdo.</p>
      </div>
      <div class="buttons-wrapper">
        <div class="social-buttons">
          <ion-button color="light" fill="outline" (click)="slides.slideNext()" class="facebook">
            <ion-icon slot="end" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button color="light" fill="outline" (click)="auth.googleLogin()" class="google">
            <ion-icon slot="end" name="logo-googleplus"></ion-icon>
          </ion-button>
        </div>
        <ion-button color="light" fill="outline" [routerLink]="['/walkthrough/signUp']" class="button-next">Endereço de
          email</ion-button>
        <a class="register-later" color="light" (click)="finish()" routerDirection="root">Talvez depois. Acessar
          agora.</a>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <ion-buttons slot="start">
      <ion-button (click)="finish()" routerDirection="root">Pular</ion-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/walkthrough/signIn']">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>