<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Minhas notícias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(userCategories$ | async) as userCategories">
    <ion-list-header>
      <ion-label>
        Categorias
      </ion-label>
      <ion-button size="small" class="add-all" (click)="addAllCategories()">
        Adicionar todas
      </ion-button>
    </ion-list-header>
    <ion-item *ngFor="let category of categories">
      <ion-label>{{category.title}}</ion-label>
      <ion-checkbox [checked]="_.includes(userCategories, _.first(category.ids))" (click)="toggleCategory(category)">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="(userTags$ | async) as userTags">
    <ion-list-header>
      <ion-label>
        Tags
      </ion-label>
      <ion-button size="small" class="add-all" (click)="addAllTags()">
        Adicionar todas
      </ion-button>
    </ion-list-header>
    <ion-item *ngFor="let tag of tags">
      <ion-label>{{tag.title}}</ion-label>
      <ion-checkbox [checked]="_.includes(userTags, _.first(tag.ids))" (click)="toggleTag(tag)">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>