<div class="ion-padding custom-skeleton">
  <ion-skeleton-text animated class="image-placeholder"></ion-skeleton-text>
  <ion-skeleton-text animated class="title-placeholder"></ion-skeleton-text>
  <ion-skeleton-text animated class="content-placeholder"></ion-skeleton-text>
  <ion-skeleton-text animated class="content-placeholder"></ion-skeleton-text>
  <ion-skeleton-text animated class="content-placeholder"></ion-skeleton-text>
</div>
<div class="ion-padding custom-skeleton">
  <ion-skeleton-text animated class="image-placeholder"></ion-skeleton-text>
  <ion-skeleton-text animated class="title-placeholder"></ion-skeleton-text>
  <ion-skeleton-text animated class="content-placeholder"></ion-skeleton-text>
  <ion-skeleton-text animated class="content-placeholder"></ion-skeleton-text>
  <ion-skeleton-text animated class="content-placeholder"></ion-skeleton-text>
</div>