.red-line {
	height: 2pt;
	width: 100%;
	background-color: var(--ion-color-primary)
}

.title {
	margin-top: 0;
	color: #5C5C5C;
	font-size: 16pt;
	font-weight: bold;
}

.subtitle,
.time {
	font-size: 13pt;
}

.subtitle {
	color: #878787;
	font-weight: 600;
}

.time {
	color: #a4a4a4;
	font-weight: normal;
}

.img-container {
	position: relative;
	height: calc(100vw*9/16); // Aspect ration 16:9
	overflow: hidden;

	ion-img {
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(182.58deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
	height: calc(100vw*9/16);
	width: 100%;
}

.category {
	position: absolute;
	left: 8pt;
	bottom: 8pt;
	padding: 6pt 16pt;
	background-color: var(--ion-color-primary);
	color: #FFFFFF;
}

.buttons {
	position: absolute;
	right: 8pt;
	top: 8pt;
}