<ion-header>
  <ion-toolbar>
    <ion-title>Pesquisar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated debounce="500" placeholder="Digite aqui para pesquisar..."
    (ionChange)="searchPosts(search.value)" #search>
  </ion-searchbar>
  <div *ngIf="search.value">
    <p>{{posts$.getValue().length || 0}} resultados para "{{search.value}}"</p>
    <app-news *ngFor="let post of posts$ | async" [post]="post"></app-news>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadOlderPosts($event, posts$, options)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais notícias...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>