<app-header (segmentDidChange)="onSegmentChange($event)"></app-header>

<ion-slides (ionSlideDidChange)="onSlideDidChange($event)">

  <ion-slide class="scroll-slide">
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, posts$)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <app-news *ngFor="let post of posts$ | async" [post]="post"></app-news>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadOlderPosts($event, posts$)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais notícias...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-slide>

  <ion-slide class="scroll-slide">
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, postsCH$, filters.CLAUDIO_HUMBERTO)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <app-news-ch *ngFor="let post of postsCH$ | async" [post]="post"></app-news-ch>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadOlderPosts($event, postsCH$, filters.CLAUDIO_HUMBERTO)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais notícias...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-slide>

  <ion-slide class="scroll-slide">
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, postsVideo$, filters.VIDEO)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <app-news *ngFor="let post of postsVideo$ | async" [post]="post"></app-news>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadOlderPosts($event, postsVideo$, filters.VIDEO)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais notícias...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-slide>

  <ion-slide>
    MINHAS NOTÍCIAS
  </ion-slide>

  <ion-slide>
    MAIS LIDAS
  </ion-slide>

  <ion-slide>
    COMPARTILHE
  </ion-slide>

  <ion-slide>
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, postsHumor$, filters.HUMOR)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <app-news-humor *ngFor="let post of postsHumor$ | async" [post]="post"></app-news-humor>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadOlderPosts($event, postsHumor$, filters.HUMOR)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais notícias...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-slide>

</ion-slides>