.popover-text-button {
	--padding-start: 0;
	--inner-padding-end: 0;
	min-height: 20px;
	line-height: 18px;
}

.popover-text-button ion-label {
	margin: 0;
}

.popover-text-button .item-inner {
	padding-right: 0;
}

.popover-text-smaller {
	font-size: 12px;
}

.popover-text-larger {
	font-size: 16px;
}

.popover-row-dots {
	text-align: center;
}

.popover-dot {
	height: 40px;
	width: 40px;
	--border-radius: 50%;
	margin: 10px auto;
	position: relative;
}

.popover-dot-white {
	--background: rgb(255, 255, 255);
	--background-activated: rgb(235, 235, 235);
}

.popover-dot-tan {
	--background: rgb(249, 241, 228);
	--background-activated: rgb(229, 221, 208);
}

.popover-dot-grey {
	--background: rgb(76, 75, 80);
	--background-activated: rgb(56, 55, 60);
}

.popover-dot-black {
	--background: rgb(0, 0, 0);
	--background-activated: rgb(0, 0, 0);
}

.popover-dot.selected {
	--border-style: solid;
	--border-width: 2px;
	--border-color: var(--ion-color-primary);
}

.popover-text-athelas {
	font-family: "Athelas";
}

.popover-text-charter {
	font-family: "Charter";
}

.popover-text-iowan {
	font-family: "Iowan";
}

.popover-text-palatino {
	font-family: "Palatino";
}

.popover-text-san-francisco {
	font-family: "San Francisco";
}

.popover-text-seravek {
	font-family: "Seravek";
}

.popover-text-times-new-roman {
	font-family: "Times New Roman";
}

/*
  iOS Popover
*/

.ios .popover-text-smaller {
	border-right: 1px solid #c8c7cc;
}

.ios .popover-row-dots {
	border-bottom: 1px solid #c8c7cc;
}

.ios .popover-dot {
	border: 1px solid #c8c7cc;
}

.hairlines .popover-text-smaller,
.hairlines .popover-row-dots,
.hairlines .popover-dot {
	border-width: 0.55px;
}

/*
  Material Design Popover
*/

.md .popover-text-smaller {
	border-right: 1px solid #dedede;
}

.md .popover-row-dots {
	border-bottom: 1px solid #dedede;
}

.md .popover-dot {
	border: 1px solid #dedede;
}

/*
  Windows Popover
*/

.wp .popover-dot {
	border: 2px solid #ccc;
}