<ion-list>
  <ion-row>
    <ion-col>
      <ion-item (click)="changeFontSize('smaller')" class="popover-text-button popover-text-smaller">
        <ion-label text-center>A</ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item (click)="changeFontSize('larger')" class="popover-text-button popover-text-larger" text-center>
        <ion-label text-center>A</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="popover-row-dots">
    <ion-col>
      <ion-button (click)="changeBackground('white')" class="popover-dot popover-dot-white"
        [class.selected]="background == 'white'"></ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="changeBackground('tan')" class="popover-dot popover-dot-tan"
        [class.selected]="background == 'tan'"></ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="changeBackground('grey')" class="popover-dot popover-dot-grey"
        [class.selected]="background == 'grey'"></ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="changeBackground('black')" class="popover-dot popover-dot-black"
        [class.selected]="background == 'black'"></ion-button>
    </ion-col>
  </ion-row>
  <ion-radio-group [(ngModel)]="fontFamily" (ionSelect)="changeFontFamily()">
    <ion-list-header>
      Fonte
    </ion-list-header>

    <ion-item>
      <ion-label class="popover-text-athelas">Athelas</ion-label>
      <ion-radio value="Athelas"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="popover-text-charter">Charter</ion-label>
      <ion-radio value="Charter"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="popover-text-iowan">Iowan</ion-label>
      <ion-radio value="Iowan"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="popover-text-iowan">Open Sans</ion-label>
      <ion-radio value="Open Sans"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="popover-text-palatino">Palatino</ion-label>
      <ion-radio value="Palatino"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="popover-text-san-francisco">San Francisco</ion-label>
      <ion-radio value="San Francisco"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="popover-text-seravek">Seravek</ion-label>
      <ion-radio value="Seravek"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>